/* Coolors Exported Palette - coolors.co/eee9e9-ef626c-22181c-333333-94c5cc */

/* HSL */
$color1: hsla(0%, 13%, 92%, 1);
$color2: hsla(356%, 82%, 66%, 1);
$color3: hsla(336%, 17%, 11%, 1);
$color4: hsla(0%, 0%, 20%, 1);
$color5: hsla(188%, 35%, 69%, 1);

/* RGB */
$white: rgba(238, 233, 233, 1);
//$pink: rgba(239, 98, 108, 1);
$pink: rgba(231, 76, 60,1);
$greypink: rgba(34, 24, 28, 1);
$grey: rgba(51, 51, 51, 1);
$sky: rgba(148, 197, 204, 1);