@media screen and (max-width: 991px){

  h1{
    font-size: 60px;
  }
  h2{
    font-size: 30px;
  }
}

@media screen and (max-width: 640px){
  header{
    .title{
      margin-top: 0px;
      text-align: center;
      h2{
        font-size: 18px;
      }
    }
  }
}