.third{
  background-image: url(../img/second-bg.jpg);
  //background-size: auto auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  color: $grey;
  //.content{
  //  position: relative;
  //  top: 50%;
  //  transform: perspective(1px) translateY(-50%);
  //}
}

